services:
  db:
    image: mysql:9.1.0
    restart: always
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_USER: docker
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: mydbtestes
    ports:
      - "3308:3306"
    expose:
      - 3306
    networks:
      - edson-network
  apidemo:
    image: edsonlima95/apidemo:latest
    restart: always
    build:
        context: .
        dockerfile: Dockerfile
    working_dir: /apidemo
    environment:
      TZ: America/Sao_Paulo
      SPRING.DATASOURCE.URL: jdbc:mysql://db:3306/mydbtestes?useTimezone=true&serverTimezone=UTC
      SPRING.DATASOURCE.USERNAME: root
      SPRING.DATASOURCE.PASSWORD: admin123
    command: mvn spring-boot:run
    ports:
      - 8080:8080
    depends_on:
      - db
    networks:
      - edson-network
networks:
  edson-network:
    driver: bridge
