name: CI/CD Pipeline for Docker Image

on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_SECRETKEY }}

    - name: JDK Setup
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
