name: CI/CD Pipeline for Docker Image

on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_SECRETKEY }}

      - name: JDK Setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Application .jar
        working-directory: ./demo
        run: mvn clean package

      - name: Docker Compose Build
        working-directory: /demo
        run: docker compose build

      - name: Push to Docker Hub Container Registry
        run:  docker push ${{ secrets.DOCKER_USERNAME }}/apidemo
